<div class="row" >
   <div class="col-sm-4">
     </div>
     
             
           <div *ngFor="let i of obj" class="edit col-sm-4"  >
            

                   <img src={{i.Avatar}}  class="profilePic" height="100px" weight="100px" />  
                   
                   <h3><b>OHR:</b> {{i.OHR}}</h3>
                
                    <h3><b>Name:</b> {{i.Name}}</h3>
            
                
                    <h3><b>Role:</b> {{i.Role}}</h3>
        
                
                    <h3><b>Rating:</b> {{i.Rating}}</h3>
                
            
        </div>
        <div class="col-sm-4">
          
        </div>
</div>
