.title{
    margin-left: 25%;
    margin-top: 1%;
    font-size: 60px ;
    color:#c3bae6 ;
    font-weight: 800;
    font-family: 'Girassol', cursive;
    

}

.header{
    margin-top: 0%;
    display: flex;
}

.logo
{
   
    size: 10px;
    margin-left: 5%;
 
}

