*{
    font-family: 'Berkshire Swash', cursive;
}

.reset{
    margin-top:5%;
    margin-left: 10%;

}
.title{
    
    color:grey;
    font-size:50px;
    font-weight:800;
    font-family:'Goblin One', cursiv;
    margin-bottom: 3%;
}

input.ng-invalid.ng-touched{
    border:1px solid red;
}

input.ng-valid{
    border:1px solid green;
}
.success{
    color:  #00cc44;
    font-size: 20px;
    margin-top: 2%;

}
.fail{
    color:red;
    font-size: 20px;
    margin-top: 2%;
}

