<div class="row">
<div class="col-sm-4">
 <p style="color:red;font-size:16px;margin-top:30%;margin-left:70%">Note :<br/><br/> 1. Password Must be of length 6 <br/><br/>
           2. Password Must be numbers
 </p>
</div>
<div class=" reset col-sm-4">
   <h2 class="title">Reset Password</h2>
    <form [formGroup]="ResetForm" (ngSubmit)="collectData(ResetForm.value)">
        
         <div class="form-group row">
         
          <div class="col-sm-10">
            <input type="password"  class="form-control"   placeholder="Old Password" formControlName="oldPass"  >
        
            
          </div>
       </div>
        
        
        <div class="form-group row">
          
          <div class="col-sm-10">
            <input type="password" class="form-control"  placeholder="New Password" formControlName="NewPass">
        
          </div>
       </div>
       
       <div class="form-group row">
          
          <div class="col-sm-10">
            <input type="password" class="form-control" id="ConfirmPassword" placeholder="Confirm Password" formControlName="ConfirmPassword">
        
          </div>
       </div>
      
       <button type="submit" class="btn-get-started" [disabled]="!ResetForm.valid" > Reset Password</button>
       
       
      </form>
      <div class="success">{{successhtml}}</div>
       <div class="fail">{{failhtml}}</div>

</div>
<div class="col-sm-4">
  
</div>
</div>